<a href="https://colab.research.google.com/github/HusainTsabit/ftds_h8/blob/main/FTDS_LC1_Husain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Graded Challenge
name : husain tsabit\
batch : ftds016

# Description

- Objective : Answer all question
- Problem statement : checking the batteries are in good condition or in bad condition

# Import Pustaka

In [2]:
import pandas as pd
import numpy as np

# Data Loading

In [33]:
#import dataset
url = 'https://github.com/fahmimnalfrzki/Dataset/blob/main/NMC1-9.xlsx?raw=true'
df = pd.read_excel(url)

In [34]:
#to show the dataset
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

# Answer

Answer A

In [35]:
#create function
def hambatan(V_m, Cap):
  hambatan=(V_m, Cap)
def daya(V_m, Cap):
  daya=(V_m, Cap)

Answer B

In [36]:
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [71]:
for i in range [Cap]:
  if [i] <= 2.5:
    print(daya)
  else: 
    print(hambatan)

TypeError: ignored

Answer C

In [49]:
#menghitung nirai rata-rata
df.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of        time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]>